

@import "susy";

$susy: (
        flow: ltr, 
        math: fluid, 
        output: float, 
        gutter-position: inside, 
        container: 340px, 
        container-position: center, 
        columns: 12, 
        gutters: 1/4, 
        column-width: false, 
        global-box-sizing: content-box, 
        last-flow: to, 
        debug: (
                image: show, 
                color: rgba(#3f3839, .25), 
                output: overlay, 
                toggle: left bottom, 
        ),
        use-custom: (
                background-image: true, 
                background-options: false, 
                box-sizing: true, 
                clearfix: false, 
        )
);

body {
  @include container();
}

.main {
  @include span(12);
}

.smile {
  @include span(4);
  @include push(4);
}