@import "compass/css3";
@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "meta/grids";

$base-color: #6dcff6;
$second-color: #fc987e;

body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: $base-color;
}

button {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.main {
  height: 100%;
}

.smile {
  margin-top: 150px;
}

.output {
  & h1 {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
  }
}

.control {
  .btn-copy {
    background: $base-color;
    border-radius: 100%;
    border: #fff solid 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    float: left;
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 1;
    &:active {
      background: darken($base-color, 25);
    }
    img {
      margin-top: 5px;
      width: 45px;
    }
  }
  .btn-gen {
    background: $second-color;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    margin: 20px 0 0 -20px;
    padding: 0 10px 0 25px;
    height: 60px;
    width: 260px;
    &:active {
      background: darken($second-color, 15);
    }
  }
}

#slider {
  margin-top: 30px;
}

.noUi-target {
  background: $base-color;
  border: 0;
  border-radius: 0;
  height: 5px;
  box-shadow: none;
}

.noUi-handle {
  background: $base-color;
  border: #fff solid 3px;
  border-radius: 50%;
  box-shadow: none;
  top:-11px!important;
  height: 25px;
  width: 25px;
  &:active {
    background: darken($base-color, 25);
  }
  &:before {
    content: none;
  }
  &:after {
    content: none;
  }
}

.settings {
  color: $base-color;
  margin: 20px 0 100px 0;
  & button {
    background: white;
    border: 1px solid $base-color;
    color: $base-color;
    cursor: pointer;
    font-size: 0.8em;
    padding: 3px;
    margin-top: 15px;
    &.active {
      border: 1px solid $base-color;
      background: $base-color;
      color: white;
    }
  }
}

footer {
  bottom: 0;
  color: grey;
  position: absolute;
  padding: 10px;
  font-size: 0.7em;
}