@import "compass/css3";
@import "compass/reset";
@import "meta/grids";

body {
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #6dcff6;
}

.main {
  height: 100%;
}

.smile {
  margin-top: 100px;
  margin-bottom: 30px;
}

.output {
  & h1 {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
  }
}

.control {
  .btn-copy {
    background: #6dcff6;
    border-radius: 100%;
    border: #fff solid 7px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    top: -30px;;
    position: relative;
    text-align: center;
    height: 70px;
    width: 70px;
    z-index: 1;
    &:active {
      background: #5482a7;
    }
    img {
      position: relative;
      top: 25%;
      width: 35px;
    }
  }
  .btn-gen {
    background: #fc987e;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    top: 34px;
    left: 10px;
    margin: 0 35px;
    padding: 10px 25px 10px 35px;
    position: relative;
    text-align: center;
    &:active {
      background: #cb6c66;
    }
  }
  .slider {
    background: #6dcff6;
    cursor: pointer;
    position: relative;
    top: -10px;
    height: 4px;
    width: 100%;
    .Characters {
      background: #6dcff6;
      border-radius: 100%;
      border: #fff solid 3px;
      color: #fff;
      top: -14px;;
      left: 5px;
      position: relative;
      text-align: center;
      height: 25px;
      width: 25px;
      z-index: 1;
      &:active {
        background: #5482a7;
      }
    }
  }
}

.settings {
  color: #6dcff6;
  margin-top: 20px;
  & span {
    cursor: pointer;
    width: auto;
  }
}

footer {
  bottom: 0;
  color: #7b8888;
  position: absolute;
  padding: 10px;
  font-size: 0.7em;
}