extends layout

block content
    div#wrapper
        div#main
            div.beta-container
                div.beta beta
            div.logo
            div.smile
                img(src="img/smile-sad.svg" alt="smile")

            div.output
                h1 404
                h1 Страница не найдена
                a(href='/') Назад

    footer
        a(href="mailto:admin@goodpass.ru") admin@goodpass.ru