extends layout

block content
    div#main
        div.smile
            img(src="img/smile-sad.svg" alt="smile")

        div.output
            h1 404
            h1 Страница не найдена
            a(href='/') Назад

        //footer
            span разработана super puper DEV TEAM 2016
