extends layout

block content
  div.main
    div.smile
      img(src="img/smile-01.svg")
    div.output
      h1 Mx5w3234pMx5w
    div.control
      div.btn-copy
        img(src="img/copy.svg")
      div.btn-gen.
        сгенерировать
    div.settings
      div.digit.
        0-9
      div.simbol.
        a-z
      div.digit.
        A-Z
      div.digit.
        Aa-Zz