extends layout

block content
    div.main
        div(title="Качество пароля").smile
            img(src="img/smile-01.svg")
        div(title="Пароль").output
            h1#output-generated-pass Mx5

        div.control
            div.input-div-btn
                button(title="Копировать")#button-copy-pass.btn-copy
                    img(src="img/copy-01.svg")
            button(title="Сгенерировать")#button-generate-pass.btn-gen сгенерировать

            div(title="Количество символов").slider
                div.Characters 1

        div.settings
            button(title="Цифры").numbers.active 0-9
            button(title="Прописные").upper-char A-Z
            button(title="Буквы").lower-char a-z
            button(title="Буквы и прописные").symbols @#$%
        //footer
            span разработана super puper DEV TEAM 2016

        script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js")
        script(type="text/javascript" src="js/main.js")
