extends layout

block content
  div.main
    div.smile
      img(src="img/smile-01.svg")
    div.output
      h1 Mx5w3234pMx5w
    div.control
      div.btn-gen.
        сгенерировать
      div.btn-copy
        img(src="img/copy-01.svg")
      div.slider
        div.Characters.
          1

    div.settings
      div.digit.
        0-9
      div.simbol.
        a-z
      div.none.
        A-Z
      div.none.
        Aa-Zz
    footer
      span разработана super puper DEV TEAM 2016