extends layout

block content
    div#wrapper
        div#main
            div.beta-container
                div.beta beta
            div.logo
            div(title="Качество пароля").smile
                img(src="https://s3-us-west-2.amazonaws.com/goodpass/smile-happy.svg" alt="smile")#image-pass-strength
            div(title="Пароль").output
                p#output-message.weak Генератор
                h1#output-generated-pass паролей

            div#control
                span.control-center
                    button(title="Копировать")#button-copy-pass
                        img(src="img/copy-01.svg" alt="copy")
                    button(title="Сгенерировать")#button-generate-pass сгенерировать

            div(title="Количество символов")#slider

            input(type="text")#input-number

            div#settings
                button(title="Цифры").numbers.active.symbol-set 0-9
                button(title="Прописные").upper-char.active.symbol-set A-Z
                button(title="Буквы").lower-char.active.symbol-set a-z
                button(title="Спецсимволы").special-symbols.symbol-set @#$%

    footer
        a(href="mailto:admin@goodpass.ru") admin@goodpass.ru
