extends layout

block content
    div#main
        div(title="Качество пароля").smile
            img(src="img/smile-03.svg")
        div(title="Пароль").output
            h1#output-generated-pass пароль
            p#output-message.weak слабый

        div#control
            button(title="Копировать")#button-copy-pass.btn-copy
                img(src="img/copy-01.svg")
            button(title="Сгенерировать")#button-generate-pass.btn-gen сгенерировать

        div(title="Количество символов")#slider

        input(type="text")#input-number

        div#settings
            button(title="Цифры").numbers.active.symbol-set 0-9
            button(title="Прописные").upper-char.symbol-set A-Z
            button(title="Буквы").lower-char.symbol-set a-z
            button(title="Буквы и прописные").special-symbols.symbol-set @#$%

        //footer
            span разработана super puper DEV TEAM 2016
