doctype html
html
    head
        title!= title
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="description" content="Генератор пароля")
        meta(name="keywords" content="онлайн, генератор, пароль")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/css/style.css')

    body
        block content

        script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js")
        script(type="text/javascript" src="bower_components/nouislider/distribute/nouislider.min.js")
        script(type="text/javascript" src="js/main.js")